<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <ion-buttons>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        Voltar
      </ion-buttons>
      <img src="/assets/imgs/WorkinoutLogo.png" width="80" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <header><h1>Plano de Treino</h1></header>
  <main>
    <section id="container-lista-treino">
      <div class="item-lista">
        <img src="/assets/imgs/WorkinoutLogo.png" width="150" />
        <div class="info-item">
          <p class="titulo-info">Supino com Halteres</p>
          <p>Series: 4</p>
          <p>Repetições: 10</p>
          <p>Descanso: 45s</p>
        </div>
      </div>
    </section>
  </main>
</ion-content>
