<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <img src="/assets/imgs/WorkinoutLogo.png" width="80" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <header><h1>Planos de Treino</h1></header>
  <main>
    <section id="container-lista-treino">

  <ion-list>
    <ion-item *ngFor="let plan of workoutPlans">
      <ion-label>
        <div class="div-icon">
         <h2>{{ plan.name }}</h2>
        </div>
        <p>{{ plan.description || 'Sem descrição' }}</p>
      </ion-label>
      <ion-button slot="end" [routerLink]="['/plano-detalhe-page', plan.id]">
        Ver Detalhes
      </ion-button>
    </ion-item>
  </ion-list>
  

  

<ion-button expand="full" routerLink="/create-workout-plan">
    Criar Plano de Treino
  </ion-button>

<ion-button expand="full" routerLink="/criar-exercicio">
    Criar um Exercício
  </ion-button>

 </section>
  </main>
</ion-content>
