<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <img src="/assets/imgs/WorkinoutLogo.png" width="80" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <h1>O que fazer</h1>
    <section id="conteudo">
      <div class="item-conteudo treinar" routerLink="/tabs/tab2">
        <h1>Treinar</h1>
      </div>
      <div class="item-conteudo projeto" routerLink="/tabs/projetos"><h1>Projeto</h1></div>
      <div class="item-conteudo perfil" routerLink="/tabs/tab3">
        <h1>Perfil</h1>
      </div>
    </section>
  </main>

  <aside></aside>
</ion-content>
