<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <h1>Página Inicial</h1>
      <img src="/assets/imgs/WorkinoutLogo.png" width="80" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <h1>Ir para</h1>
    <section id="conteudo">
      <div class="item-conteudo" routerLink="/tabs/tab2">
        <h1>Treino</h1>
      </div>
      <div class="item-conteudo">
        <h1>Projeto</h1>
      </div>
      <div class="item-conteudo">
        <h1>Evolução</h1>
      </div>
      <div class="item-conteudo">
        <h1>Evolução</h1>
      </div>
    </section>
  </main>

  <aside></aside>
</ion-content>
