#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: var(--ion-color-azul);
}

main {
  width: 90%;
  margin: 20px auto;
}

main h1 {
  color: var(--ion-color-azul);
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
}

#conteudo {
  display: flex;
  flex-direction: column;
}

.item-conteudo {
  position: relative;
  min-width: 150px;
  height: 150px;
  border: 2px solid var(--ion-color-vermelho);
  border-radius: 15px;
  text-align: center;
  align-content: center;
  flex-grow: 1;
  margin: 10px;
  color: #fff;
}

.item-conteudo h1 {
  position: relative;
  z-index: 1;
  margin: 0;
  color: #fff;
}

.item-conteudo::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0; /* IMPORTANTE: abaixo do h1 */
  border-radius: 15px;
}

.treinar {
  background-image: url("/assets/imgs/treinar.jpg");
  background-size: cover;
}

.projeto {
  background-image: url("/assets/imgs/projeto.jpg");
  background-size: cover;
}

.perfil {
  background-image: url("/assets/imgs/perfil.jpg");
  background-size: cover;
}
