header h1 {
  text-align: center;
  color: var(--ion-color-azul);
}

ion-card{
    margin-top: 30px;
    padding: 15px;
}

.content{
    padding-top: 10px;
    padding-left: 0px;
}


.content-page{
  width: 95%;
  margin: 0 auto;
}


.criar-p{
  --background: var(--ion-color-azul);
  --color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90%;
}