<ion-content [fullscreen]="true">
  <section class="container">
    <div class="banner">
      <img src="../../../assets/imgs/WorkinoutLogo.png" />
    </div>
    <h1>Iniciar Sessão</h1>
    <form [formGroup]="formularioLogin" (ngSubmit)="loginUser()">
      <div>
        <label for="name">Email</label>
        <input
          id="email"
          type="text"
          placeholder="antonimiguel@gmail.com"
          formControlName="email"
          required
        />
      </div>
      <div>
        <label for="pw">Palavra-passe</label>
        <input
          id="pw"
          type="password"
          name="pw"
          formControlName="password"
          required
        />
        <a>Esqueceu-se da palavra-passe?</a>
        <a routerLink="/register">Não tem conta? Registe uma conta!</a>
      </div>

      <button type="submit" color="vermelho">Entrar</button>
    </form>
  </section>
</ion-content>
