<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="header">
      <ion-buttons>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        Voltar
      </ion-buttons>
      <img src="/assets/imgs/WorkinoutLogo.png" width="80" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">createWorkoutPlan</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-title class="ion-padding">Criar Plano de Treino</ion-title>
  <div class="ion-padding">
    <p>Crie um plano de treino para organizar seus exercícios.</p>
  </div>

  <form [formGroup]="createWorkoutPlanForm" (ngSubmit)="createWorkoutPlan()" class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Nome do Plano</ion-label>
      <ion-input type="text" placeholder="Ex: Treino de Perna" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input type="text" placeholder="Descrição (Opcional)" formControlName="description"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin" [disabled]="createWorkoutPlanForm.invalid">
      Criar Plano
    </ion-button>
  </form>
</ion-content>
