<ion-content [fullscreen]="true">
  <section class="container">
    <div class="banner">
      <img src="../../../assets/imgs/WorkinoutLogo.png" />
    </div>

    <h1>Insere Dados</h1>

    <form [formGroup]="meuFormulario" (ngSubmit)="enviarFormulario()">
      <section>
        <label for="peso">Peso</label>
        <input
          id="peso"
          type="number"
          placeholder="70 Kg"
          formControlName="peso"
          required
        />
      </section>

      <section>
        <label for="dataN">Data de nascimento</label>
        <input id="dataN" formControlName="nascimento" type="date" required />
      </section>

      <section>
        <label for="altura">Altura</label>
        <input
          id="altura"
          type="number"
          placeholder="175 cm"
          formControlName="altura"
          required
        />
      </section>

      <section class="escolherSexo">
        <div>
          <input type="radio" id="F" formControlName="sexo" value="Feminino" />
          <label for="F">Feminino</label>
        </div>
        <div>
          <input type="radio" id="M" formControlName="sexo" value="Masculino" />
          <label for="M">Masculino</label>
        </div>
        <a>Esqueceu-se da palavra-passe?</a>
      </section>

      <ion-button expand="full" color="danger" type="submit">Entrar</ion-button>
    </form>
  </section>
</ion-content>
