<ion-content [fullscreen]="true">
  <section class="container">
    <div class="banner">
      <img src="../../../assets/imgs/WorkinoutLogo.png" />
    </div>
    <h1>Criar Conta</h1>
    <form method="POST">
      <div>
        <label for="email">Email</label>
        <input
          id="email"
          type="text"
          placeholder="exemplo@gmail.com"
          name="email"
          required
        />
      </div>
      <div>
        <label for="name">Nome do Utilizador</label>
        <input
          id="name"
          type="text"
          placeholder="António Miguel"
          name="name"
          required
        />
      </div>
      <div>
        <label for="pw">Palavra-passe</label>
        <input
          id="pw"
          type="password"
          name="pw"
          placeholder="Palavra-passe"
          required
        />
        <a>Esqueceu-se da palavra-passe?</a>
      </div>

      <button color="vermelho">Entrar</button>
    </form>
  </section>
</ion-content>
