<ion-content [fullscreen]="true">
  <section class="container">
    <div class="banner">
      <img src="../../../assets/imgs/WorkinoutLogo.png" />
    </div>
    <h1>Criar Conta</h1>
    <form [formGroup]="formularioRegister" (ngSubmit)="registerUser()">
      <div>
        <label for="name">Nome</label>
        <input
          id="name"
          type="text"
          placeholder="António Miguel"
          formControlName="name"
          required
        />
      </div>
      <div>
        <label for="email">Email</label>
        <input
          id="email"
          type="text"
          placeholder="antoniomiguel@gmail.com"
          formControlName="email"
          required
        />
      </div>
      <div>
        <label for="pw">Palavra-passe</label>
        <input
          id="pw"
          type="password"
          placeholder="Palavra-passe"
          formControlName="password"
          required
        />
         <label for="photo">Fotografia</label>
          <input type="file" (change)="onFileSelected($event)" />
        <a>Esqueceu-se da palavra-passe?</a>
        <a routerLink="/login">Já tem conta? Iniciar Sessão!</a>
      </div>
      <button type="submit" color="vermelho">Criar Conta</button>
    </form>
  </section>
</ion-content>
